@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  color: #323232;
}

a {
  text-decoration: none;
}

div.square {
  width: 60%;
  height: 200px;
  background-color: blueviolet;
}

@media only screen and (max-width: 800px) {
  div.square {
    width: 40%;
    background-color: blue;
    
  }
}