*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img{
    height: 200px;
    width: 200px;
}

h1{
    text-align: center;
}

div.pai {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    
}


div.square {
    margin: 10px;
}


